// ========== MATERIAL 3 FONTS ==========
// "it's all roboto. always has been."
// Just Roboto at different weights.
// Font from Google Fonts btw
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
    font-weight: 900;
    font-display: swap;
}