@use "material/theme" as *;

:root {
    // Smooth scrolling, for table of contents/jumping around the page
    scroll-behavior: smooth;
}

#content {
    position: absolute;
    z-index: -3;

    font-weight: $body-font;
    color: $on-surface;
    width: 100%;

    > h1 {
        margin: 0;
        margin-bottom: var(--margin);
        font-size: var(--header-1-size);
        font-weight: var(--header-1-weight);
    }

    > h2 {
        margin: 0;
        margin-bottom: calc(var(--margin) / 2);
        font-size: var(--header-2-size);
        font-weight: var(--header-2-weight);
    }

    p {
        margin: 0;
        font-size: var(--body-size);
        font-weight: var(--body-weight);
    }
    li {
        font-size: var(--body-size);
        font-weight: var(--body-weight);
    }
}